body {
  overflow-y: hidden;
}
.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; 
  align-items: center;
  padding-top: 30px;
}

.user-list-wrap {
  margin-top: 20px;
  height: 400px;
  overflow-y: scroll;
}

.list-box {
  background-color: rgb(252, 150, 16);
  padding: 10px 50px 30px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  margin: 10px;
}

.list-box h2 {
  margin-bottom: 5px;
}

.list-box b {
  margin-right: 10px;
}

.input-wrap {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  width: 270px;
  background-color: rgb(246, 246, 240);
  padding: 30px 30px 20px;
  border-radius: 5px;
}

.input-wrap input {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid rgb(213, 213, 213);
}

.input-wrap button {
  padding: 10px;
  width: 100px;
  align-self: center;
  border-radius: 30px;
  border: none;
  cursor: pointer;
  background-color: rgb(1, 206, 11);
  color: white;
  font-weight: 700;
  letter-spacing: 0.05rem;
  font-size: 1rem;
}