<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>React</title>
    <style>
        .title {
            background-color: aquamarine;
        }
    </style>
</head>
<body>
    <div id="root"></div>
    <script crossorigin src="https://unpkg.com/react@17/umd/react.development.js"></script>
    <script crossorigin src="https://unpkg.com/react-dom@17/umd/react-dom.development.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.26.0/babel.min.js"></script>
    <script type="text/babel">

        function clickHandler() {
            alert('클릭!')
        }

        function tick() {
        const element = (
            <div>
            <h1 style={{color:'red', fontSize:'16px' }}>Hello, world!</h1>
            <h2 className="title" onClick={clickHandler}>It is {new Date().toLocaleTimeString()}.</h2>
            </div>
        );
        ReactDOM.render(element, document.getElementById('root'));
        }

        setInterval(tick, 1000);
    </script>
</body>
</html>