body, html {
  margin: 0;
}

.App {
  text-align: center;
  background-color: black;
  color: white;
  height: 100vh;
  padding-top: 15px;
}

.child {
  background-color: rgb(246, 255, 0);
  color: black;
  width: 80vw;
  height: 70vh;
  margin: 0 auto;
}

.child1 {
  background-color: rgb(73, 73, 247);
  margin: 0 auto;
  width: 80%;
  height: 20vh;
}

.child2 {
  margin: 0 auto;
  width: 80%;
  height: 20vh;
  background-color: rgb(254, 150, 113);
}

