<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Naver News</title>
    <style>
        html {
            font-size: 10px;
        }
        .box {
            display: flex;
            margin: 20px;
            font-size: 0.8rem;
        }
        img {
            width: 30%;
            height: 120px;
        }
        .box div {
            width: 70%;
            margin-left: 10px;
        }
        .box h1 {
            color: rgb(17, 188, 17);
        }
        span {
            margin-right: 5px;
        }

    </style>
</head>
<body>
    <div id="root"></div>
    <script crossorigin src="https://unpkg.com/react@17/umd/react.development.js"></script>
    <script crossorigin src="https://unpkg.com/react-dom@17/umd/react-dom.development.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.26.0/babel.min.js"></script>
    <script type="text/babel">

        const Section = () => {
            return (
                <section>
                    <Box img="images/news1.jpeg" h1="경제" h2="수상한 용도변경에 땅값 수천억 이득..." name="땅집고" date={2} />
                    <Box img="images/news2.jpeg" h1="건설" h2="대리석 와르르 강남 아파트 논란" name="국민일보" date={1} />
                </section>
            )
        }

        const Box = (props) => {
            console.log(props)
            return (
                <article className="box">
                    <img src={props.img} alt="thumbnail" />
                    <div>
                        <h1>{props.h1}</h1>
                        <h2>{props.h2}</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus sequi eveniet culpa rerum commodi. Consequuntur esse iusto debitis laboriosam deserunt beatae sint quod unde, qui totam dignissimos, quos quibusdam iure!</p>
                        <span>{props.name}</span>
                        <span>{props.date}일 전</span>
                    </div>
                </article>
            )
        }

        const Header = (props) => {
            console.log('child', props.children)
            return (
                <header>
                    {props.children}
                </header>
            )
        }

        const App = (
            <main>
                <Header>
                    <nav>
                        <ul style={{display: 'flex', justifyContent: 'space-around'}}>
                            <li>경제</li>
                            <li>건설</li>
                            <li>기타</li>
                        </ul>
                    </nav>
                </Header>
                <Section />
            </main>
        )

        ReactDOM.render(App, document.querySelector('#root'))
    </script>
</body>
</html>